%h1 Listing Responses
= will_paginate @responses

- @responses.each do |response|
  .ad
    %br/
    %b from user 
    = response.user.login
    %br/
    = response.content
    %br/
    = link_to 'Your Ad ', advertisement_path(response.advertisement)
    %br/
    = link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' }
    %br/
= will_paginate @responses
%br/
