.mdl-grid
  .mdl-cell.mdl-cell--4-col.mdl-cell--1-col-tablet.mdl-cell--hide-phone
  .mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet.mdl-cell-4-col-phone
    %p
      %strong Content:
      = @response.content
    %p
      %strong User:
      = @response.user
    %p
      %strong Advertisement:
      = @response.advertisement
    = link_to 'Edit', edit_response_path(@response)
   |
    = link_to 'Back', responses_path
