.mdl-grid
  .mdl-cell.mdl-cell--1-col.mdl-cell--1-col-tablet.mdl-cell--hide-phone
  .mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet.mdl-cell-4-col-phone
    %h2
      = t('edit') #{resource_name.to_s.humanize}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      - if devise_error_messages! != ""
        .mdl-card__supporting-text.error-message
          = devise_error_messages!
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :login
        %br/
        .mdl-textfield__input
          = f.text_field :login, autofocus: true
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :full_name
        %br/
        .mdl-textfield__input
          = f.text_field :full_name, autofocus: true
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :birthday
        %br/
        .mdl-textfield__input
          = f.date_field :birthday, value: @user.birthday
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :email
        %br/
        .mdl-textfield__input
          = f.email_field :email
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :address
        %br/
        .mdl-textfield__input
          = f.text_field :address
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :city
        %br/
        .mdl-textfield__input
          = f.text_field :city
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :state
        %br/
        .mdl-textfield__input
          = f.text_field :state
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :country
        %br/
        .mdl-textfield__input
          = f.text_field :country
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :zip
        %br/
        = f.number_field :zip
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :password
        %br/
        .mdl-textfield__input
          = f.password_field :password, autocomplete: "off"
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :password_confirmation
        %br/
        .mdl-textfield__input
          = f.password_field :password_confirmation, autocomplete: "off"
      %br/
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :current_password
        %br/
        .mdl-textfield__input
          = f.password_field :current_password, autocomplete: "off"
      %br/
      = f.submit t('update'), class: "button mdl-js-button"
    %h3 
      =t("accountcancel")
    %p
      =t("unhappy") 
      ? #{button_to t("accountcancel"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button mdl-js-button"}
    = link_to t("back"), :back
  .mdl-cell.mdl-cell--3-col.mdl-cell--3-col-tablet.mdl-cell-4-col-phone#map-content.map-fixed
  
:javascript
   $(document).ready(load_map);
   $('.field input').keyup(load_map);
