.mdl-grid
  .mdl-cell.mdl-cell--3-col.mdl-cell--1-col-tablet.mdl-cell-1-col-phone
  .mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet.mdl-cell-3-col-phone
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      - if devise_error_messages! != ""
        .mdl-card__supporting-text.error-message
          = devise_error_messages!
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :login
        %br/
        .mdl-textfield__input
          = f.text_field :login, autofocus: true
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :full_name
        %br/
        .mdl-textfield__input
          = f.text_field :full_name
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :birthday
        %br/
        .mdl-textfield__input
          = f.date_field :birthday, value: Time.now.strftime("%d.%m.%Y")
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :email
        %br/
        .mdl-textfield__input
          = f.email_field :email
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :address
        %br/
        .mdl-textfield__input
          = f.text_field :address
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :city
        %br/
        .mdl-textfield__input
          = f.text_field :city
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :state
        %br/
        .mdl-textfield__input
          = f.text_field :state
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :country
        %br/
        .mdl-textfield__input
          = f.text_field :country
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :zip
        %br/
        .mdl-textfield__input
          = f.number_field :zip
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
        %br/
        .mdl-textfield__input
          = f.password_field :password, autocomplete: "off"
      .field.mdl-textfield.mdl-js-textfield
        .mdl-textfield__label
          = f.label :password_confirmation
        %br/
        .mdl-textfield__input
          = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "Sign up", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    = render "users/shared/links"
  .mdl-cell.mdl-cell--3-col.mdl-cell--3-col-tablet#map-content

:javascript
   $('.field input').keyup(load_map);
